openapi: 3.1.0
info:
  title: THRU Gateway API
  version: 0.1.0
  description: Portable browser workflow execution, teaching, and MCP gateway.
servers:
  - url: https://forge-backend.mangosmoke-65ea4a06.centralindia.azurecontainerapps.io
paths:
  /auth/session:
    post:
      operationId: createAuthSession
      security: [{ bearerAuth: [] }]
      requestBody: { content: { application/json: { schema: { type: object, properties: { scopes: { type: array, items: { type: string, enum: [run, manage] } } } } } } }
      responses: { '201': { description: Short-lived scoped browser session; plaintext token returned once }, '401': { description: Invalid API key } }
    delete:
      operationId: revokeAuthSession
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Revoked }, '404': { description: Session not found } }
  /auth/me:
    get:
      operationId: getAuthSession
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Authenticated key or session metadata }, '401': { description: Unauthorized } }
  /teaching-sessions:
    post:
      operationId: createTeachingSession
      security: [{ bearerAuth: [] }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [goal_text, url], properties: { goal_text: { type: string }, url: { type: string, format: uri }, sample_inputs: { type: object } } } } } }
      responses: { '201': { description: Expiring teaching session }, '401': { description: Unauthorized } }
  /teaching-sessions/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
    get:
      operationId: getTeachingSession
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Teaching session }, '404': { description: Not found } }
    delete:
      operationId: deleteTeachingSession
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Deleted } }
  /teaching-sessions/{id}/actions:
    post:
      operationId: recordTeachingAction
      security: [{ bearerAuth: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [type], properties: { type: { type: string, enum: [navigate, fill, click, extract, wait, switch_tab, switch_frame] }, target: { type: string }, value: { type: string, description: Input key for fill or milliseconds for wait }, evidence: { type: object, description: Sanitized capture context retained with the action, properties: { url: { type: string, format: uri }, title: { type: string }, selector: { type: string }, text: { type: string }, screenshot_ref: { type: string } } } } } } } }
      responses: { '200': { description: Updated session } }
  /teaching-sessions/{id}/capture:
    parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
    get:
      operationId: getTeachingCapture
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Teaching session and current isolated browser capture state }, '404': { description: Not found } }
    post:
      operationId: startTeachingCapture
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Started isolated browser capture }, '400': { description: Unsafe or unreachable start URL } }
    delete:
      operationId: stopTeachingCapture
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Stopped capture }, '404': { description: Not found } }
  /teaching-sessions/{id}/capture/actions:
    post:
      operationId: captureTeachingAction
      security: [{ bearerAuth: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [type], properties: { type: { type: string, enum: [navigate, fill, click, extract, wait, switch_tab, switch_frame] }, target: { type: string }, value: { type: string, description: Input key for fill or milliseconds for wait }, runtime_value: { type: string, writeOnly: true, description: Ephemeral fill value; never persisted in the teaching artifact } } } } } }
      responses: { '200': { description: Updated session with sanitized action evidence }, '400': { description: Capture action failed } }
  /teaching-sessions/{id}/evidence/{filename}:
    get:
      operationId: getTeachingEvidence
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: filename, in: path, required: true, schema: { type: string, pattern: '^[A-Za-z0-9-]+\\.jpg$' } }
      responses: { '200': { description: Captured JPEG evidence }, '404': { description: Not found } }
  /teaching-sessions/{id}/review:
    post:
      operationId: reviewTeachingSession
      security: [{ bearerAuth: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      requestBody: { content: { application/json: { schema: { type: object, properties: { artifact: { type: object } } } } } }
      responses: { '200': { description: Reviewed draft } }
  /teaching-sessions/{id}/validate:
    post:
      operationId: validateTeachingSession
      security: [{ bearerAuth: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      requestBody: { content: { application/json: { schema: { type: object, properties: { approve_sensitive: { type: boolean, description: Explicit operator confirmation to replay a sensitive draft } } } } } }
      responses: { '200': { description: Validated session }, '400': { description: Invalid draft or missing sensitive approval } }
  /teaching-sessions/{id}/publish:
    post:
      operationId: publishTeachingSession
      security: [{ bearerAuth: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses: { '201': { description: Published skill } }
  /keys:
    get:
      operationId: listApiKeys
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Active API keys (values never returned) }, '401': { description: Unauthorized } }
    post:
      operationId: createApiKey
      security: [{ bearerAuth: [] }]
      requestBody: { content: { application/json: { schema: { type: object, properties: { name: { type: string }, scopes: { type: array, items: { type: string, enum: [run, manage] } } } } } } }
      responses: { '201': { description: Created key; plaintext returned once }, '401': { description: Unauthorized } }
  /runs/{id}/approval:
    post:
      operationId: recordGateApproval
      security: [{ bearerAuth: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [decision], properties: { decision: { type: string, enum: [approved, denied] }, note: { type: string, maxLength: 500 } } } } } }
      responses: { '201': { description: Durable immutable approval audit record; approved gates are re-queued through a server-only bounded resume context }, '401': { description: Unauthorized }, '403': { description: Run belongs to another user }, '409': { description: No pending gate or decision already recorded } }
  /keys/{id}:
    delete:
      operationId: revokeApiKey
      security: [{ bearerAuth: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { '200': { description: Revoked }, '404': { description: Not found } }
  /health:
    get:
      operationId: health
      responses:
        '200': { description: Gateway health }
  /registry:
    get:
      operationId: listSkills
      responses:
        '200': { description: Installed skill artifacts }
  /skills/{id}/versions:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: listSkillVersions
      responses:
        '200': { description: Immutable version history and current version }
        '404': { description: Skill not found }
  /skills/{id}/rollback:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: rollbackSkill
      security: [{ bearerAuth: [] }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [version], properties: { version: { type: integer, minimum: 1 } } } } } }
      responses:
        '200': { description: New immutable version restored from the requested version }
        '401': { description: Operator authorization required }
        '409': { description: Rollback rejected or target unavailable }
  /skills/{id}/deprecate:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: deprecateSkill
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Skill marked deprecated and no longer executable }
        '401': { description: Operator authorization required }
        '409': { description: Lifecycle transition rejected }
  /skills/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }, { name: idempotency-key, in: header, required: false, schema: { type: string, maxLength: 200 } }]
    get:
      operationId: runSkillQuery
      responses:
        '200': { description: Run envelope }
        '202': { description: Queued run }
        '410': { description: Skill is deprecated or quarantined }
        '429': { description: Queue is at the configured depth limit }
    post:
      operationId: runSkill
      requestBody: { required: true, content: { application/json: { schema: { type: object } } } }
      responses:
        '200': { description: Run envelope }
        '202': { description: Queued run }
        '400': { description: Invalid input }
        '410': { description: Skill is deprecated or quarantined }
        '429': { description: Queue is at the configured depth limit }
  /runs/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
    get:
      operationId: getRun
      responses:
        '200': { description: Run state and result }
        '404': { description: Run not found }
    delete:
      operationId: cancelRun
      responses:
        '200': { description: Cancellation state }
        '404': { description: Run not found }
  /runs:
    get:
      operationId: listRuns
      parameters: [{ name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 1000, default: 200 } }]
      responses:
        '200': { description: Durable run history }
  /events:
    get:
      operationId: listEvents
      parameters: [{ name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 1000, default: 200 } }]
      responses: { '200': { description: Persisted run, teaching, healing, gate, and failure activity events } }
  /metrics:
    get:
      operationId: metrics
      responses: { '200': { description: Run and queue metrics derived from persisted records } }
  /mcp:
    post:
      operationId: mcp
      responses:
        '200': { description: Streamable HTTP MCP response }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer }
